{% extends "qmul_doc_base.html" %}

{% block title %}MyNET Home Page{% endblock %}

{% block groupname %}  {% endblock %}

{% block content %}

	<h2><a name="status">Overview</a></h2>
	
	<p> Hello{%if userInfo.first_name %} {{ userInfo.first_name }} {{ userInfo.last_name }},{% else %},{% endif %} (if this is not you, please <a href="/accounts/logout" >sign out </a>)</p>
		 
	<p>You belong to the folowing Groups:</p>
	<p> 
	<ul>
		{%for group in Groups %}
			<li>{{ group.name }} </li>
		{% endfor %}
	</ul>
	<p>You have access to the following Network Resources:</p>
	<ul>
		{%for networkresource in NetworkResources %}
			<li>{{ networkresource }} </li>
		{% endfor %}
	</ul>
	<p>You have access to the following Network Elements:</p>
	<p>IP Ranges:</p>
	<ul>
		{%for iprange in IPRanges %}
			<li>{{ iprange }} </li>
		{% endfor %}
	</ul>
	<p>DNS Expressions:</p>
	<ul>
		{%for dnsexpression in DNSExpressions %}
			<li>{{ dnsexpression }} </li>
		{% endfor %}
	</ul>
	


		
{% endblock %}


 	
