{% extends "qmul_doc_base.html" %}

{% block title %}MyNET Home Page{% endblock %}

{% block groupname %}  {% endblock %}

{% block content %}

	<h2><a name="status">Overview</a></h2>
	
	<p> Hello{%if userInfo.first_name %} {{ userInfo.first_name }} {{ userInfo.last_name }},{% else %},{% endif %} (if this is not you, please <a href="/accounts/logout" >sign out </a>)</p>
	<form method="post" class = viewbackform action="">	
<!######################################################################>
	<table cellspacing="0" width = "600">
		<thead>	
			<tr>
				<th>
					You belong to the folowing Groups:
				</th>
			</tr>
		</thead>
		<tbody>
			{%for group in Groups %}
			<tr align = center class="{% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %}"> 
				<td>{{ group.name }} </td>
			</tr>
			{% endfor %}
		</tbody>
		<tfoot>
			<tr> <td></td></tr>
		</tfoot>
	</table>
	<br>
<!######################################################################>
	<table cellspacing="0" width = "600">
		<thead>	
			<tr>
				<th>
					You have access to the following Network Resources:
				</th>
			</tr>
		</thead>
		<tbody>
			{%for networkresource in NetworkResources %}
			<tr align = center class="{% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %}"> 
				<td>{{ networkresource }} </td>
			</tr>
			{% endfor %}
		</tbody>
		<tfoot>
			<tr> <td></td></tr>
		</tfoot>
	</table>
	<br>
<!######################################################################>	
	<table cellspacing="0" width = "600">
		<thead>	
			<tr>
				<th>
					You have access to the following Network Elements:
				</th>
			</tr>
		</thead>
	</table>
	<table cellspacing="0" width = "600">
		<tbody>
			{% if IPRanges %}
				{%for iprange in IPRanges %}
				<tr class="{% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %}"> 
					{% ifequal forloop.counter 1 %}
						<td align = center>IP Ranges:</td>
					{% else %}
						<td></td>
					{% endifequal %}
					<td>{{ iprange }} </td>
				</tr>
				{% endfor %}
			{% endif %}
			
			{% if DNSExpressions %}
				{%for dnsexpression in DNSExpressions %}
				<tr  class="{% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %}"> 
					{% ifequal forloop.counter 1 %}
						<td align = center>DNS Expressions:</td>
					{% else %}
						<td></td>
					{% endifequal %}
					<td>{{ dnsexpression }} </td>
				</tr>
				{% endfor %}
			{% endif %}
		</tbody>
		<tfoot>
			<tr> <td></td></tr>
		</tfoot>
	</table>
	</form>

		
{% endblock %}


 	
