{% extends "qmul_doc_base.html" %}
{% block title %}MyNET Recent Activities{% endblock %}

{% block groupname %}  {% endblock %}

{% block content %}

	<h2><a name="status">History</a></h2>
	<p> Review and manage changes made to {% ifequal netgroupno 1 %} this network group{% else %} these network groups{% endifequal %}. </p>	
	
	{% if not historyLogs %}
	<ul class = "highlight"><li> There are no recent changes to this group </ul><li>
	{% else %} 
	<form method="post" class = viewbackform action="">	
		<div class="actions">
			
			<label>Action: 
				{{form.status}}
			</label>
			<button value="0" name="index" onclick="if( document.forms[0].status.selectedIndex == 1) 	return confirm('Are you sure you want to delete?');" title="Run the selected action" class="button" type="submit" >Go</button>
		</div>  
		<br>
		<table cellspacing="0">
		<thead>
			<tr>
			<th>
				<input type="checkbox" value="on" name="allbox" onclick="checkAll();"/> 
			</th>
			<th>
				<a> Time Modified</a>
			</th>
			<th>
				<a> Action </a>
			</th>
			<th>
				<a> User </a>
			</th>
			<th> 
				<a> Network </a>
			</th>
			<th>
				<a> Changes </a>
			</th>
			</tr>
		</thead>
		<tbody>
		{% for historyLog in historyLogs %}
			<tr class="{% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %}"> 
				<td><input type="checkbox" name="{{form.cbox_id.html_name}}" value="{{machinelist.id}}" class="action-select"></td>
				<td> {{ historyLog.TimeOccured|date:"D d M Y" }}, {{ historyLog.TimeOccured|time:"H:i" }}</td>
				<td align = center> 
					{% ifequal historyLog.ActionType 'A' %} 
						Added
					{% else %} 
						{% ifequal historyLog.ActionType 'D' %} 
						Deleted
						{% else %} 
						Modified
						{% endifequal %}
					{% endifequal %} </td>
				<td>
				{% for user in historyLog.NetUser_set.auth_user %}
    					{{ user }}
				{% endfor %}				
				{{ historyLog.NetUser }}
				</td>
				<td>
				{#{ historyLog.ValuesBefore }#}
				{#{ historyLog.ValuesAfter }#}
				</td>
				<td>
				{% for list in changed_list  %}
					{% ifequal forloop.parentloop.counter forloop.counter %}
						{% ifequal historyLog.ActionType 'A' %}
							Added a new record |
							{{ list.ip_pair }}
						{% else %}
							{% ifequal historyLog.ActionType 'D' %}
								Deleted an old record |
								{{ list|truncatewords:"2" }}
							{% else %}
								<style>
								ul.CompactBullet {
									list-style-type: circle;
								 	/*background-color: black;*/
									margin-left: 7px;
									margin-top: 0px;
									padding-left: 7px;
									padding-top: 0px;
								}
								ul.CompactBullet li {
						 			/*background-color: #C0C0C0;*/
									margin-left: 0px;
									padding-left: 0px;
									padding-top: 2px;
									margin-top: 0px;
								}
								</style>
								<ul class="CompactBullet">
								{% for i in list  %}
									<li> {{ i }} </li>
								{% endfor %}
								</ul>
							{% endifequal %}
						{% endifequal %}
					{% endifequal %}
				{% endfor %} 
				</td>
				
			</tr>
		{% endfor %}
		</tbody>
		<tfoot>
			<tr> 
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
		</tfoot>
		</table>
	</form>
	{% endif %}
	
	
{% endblock %}


 	
