{% extends "qmul_doc_base.html" %}

{% block title %}MyNET Home Page{% endblock %}

{% block groupname %} - Test Department {% endblock %}

{% block content %}

	<h2><a name="status">Overview</a></h2>
	</p>
	<p> Below summaries the state of the network </p>
	
	<table align="center" border="1">
	<tbody><tr><td>Future planned downtime:</td><td><a href="NetworkPlannedDowntime.html#future">Future</a></td></tr>
	<tr><td>History of planned downtime:</td><td><a href="NetworkPlannedDowntime.html#history">History</a></td></tr>
	<tr><td>History of major network issues:</td><td><a href="NetworkIssueHistory.html">History</a></td></tr>
	<tr><td>History of major IT Security issues:</td><td><a href="ITSecurityIssueHistory.html">History</a></td></tr>
	</tbody></table>

	<h3><a>Network Details</a></h3>
	<p>Here contains the details of all the network configuration details.</p>
	
		
{% endblock %}


 	
