<html>

<head>	
	<title>Add service to {{ mach }} @ {{ ip }}</title>
	<link rel="stylesheet" type="text/css" href="/site_media/css/qmul_document.css" />
	<style type="text/css"> 
		#AdditionalPage { 
			color: black; 
			font-family: sans-serif; 
		}
	</style>
	<script type="text/javascript" src="/site_media/js/RelatedObjectLookups.js"></script>	
</head>
<body>
	<div id="AdditionalPage">
	<!div class="innertube">	
		<h1>Add service to {{ mach }} @ {{ ip }}</h1>
		<form method="POST" action="" enctype="multipart/form-data">
		{% for c_error in c_errors %}
			{% if c_error.error%}
				<ul class = "errorlist"><li>{{c_error.message}}</ul></li>
			{% endif %}
		{% endfor %}
		{% if u_error%}
			<ul class = "errorlist"><li>{{u_error}}</ul><li>
		{% endif %}
		{% for field in form %}		
		<div class="fieldwrapper">
			<label class="styled">{{field.label}}</label>
			<div class="thefield">{{field}}</div><br>
			<p>{% if field.errors %}
				{{ field.errors }}
			{% endif %}
			</p>			
		</div>
		
		{% endfor %}
		<p><input type="submit" value="Add"/> | <a href="javascript:window.close()">Cancel</a></p>
		</form>
	<!/div>
	</div>	
	
</body>
</html>

