{% extends "qmul_doc_base.html" %}

{% block title %}MyNET DNS Registration{% endblock %}

{% block content %}

	<h2><a name="status">Edit IP-Name Pair, ID: {{ip_id}}</a></h2>
	<p>Please edit the information below.</p>
	
    	{% if c_errors%}
		<ul class = "errorlist"><li>{{c_errors}}</ul></li>
	{% endif %}
	<form class="feedbackform" action="" method="post">
	{% for field in form %}
		<div class="fieldwrapper">
			<label class="styled">{{field.label}}</label>
			<div class="thefield">{{field}}</div><br>
			<p>
			{% if field.errors %}
				{{field.errors}}
			{% endif %}
			</p>
		</div>
	{% endfor %}
	<input type="submit" value="Register">  | <a href="/dns/view_DNS_pair/{{ip_id}}">Cancel</a><br/>	

	</form>

		
{% endblock %}
