{% extends "qmul_doc_base.html" %}

{% block title %}MyNET DNS | IP-Name ID {{machine.id}}{% endblock %}

{% block content %}

	<h2><a name="status">Registered IP-Name Pair, ID: {{machine.id}}</a></h2>
	
	
	<form  class = "viewbackform">
	<div class="fieldwrapper">
		<label class="styled">DNS Expression</label>
		<div class="thefield">{{machine.machine_name}}</div> <br>
	</div>
	<div class="fieldwrapper">
		<label class="styled">IP Address</label>
		<div class="thefield">{{machine.ip_pair}}</div> <br>
	</div>
	<div class="fieldwrapper">
		<label class="styled">Type</label>
		<div class="thefield">
			{% ifequal machine.dns_type '1BD' %} Bi-Directional (<-->)
			{% else %} 
				{% ifequal machine.dns_type '2NA' %} Machine name to IP address (-->)
				{% else %} IP address to machine name (<--)
				{% endifequal %}
			{% endifequal %}
		</div> <br>
	</div>
	<div class="fieldwrapper">
		<label class="styled">Description</label>
		<div class="thefield">{{machine.description}}</div> <br>
	</div>
	<div class="fieldwrapper">
		<label class="styled">Time Created</label>
		<div class="thefield">{{machine.time_created}}</div> <br>
	</div>
	</form>
	
	<p class = "EditDeleteBack"> 
		<a href="/dns/edit_DNS_pair/{{machine.id}}"> Edit<a> |
		<a  href="/dns/delete_DNS_pair/{{machine.id}}" onclick="return confirm('Are you sure you want to delete?');"> Delete<a> |		
		<a href="/dns/registered_DNS_pairs"> Back<a> 
	</p>
	      
		
{% endblock %}
