{% extends "qmul_doc_base.html" %}

{% block title %}MyNET DNS Registration{% endblock %}

{% block content %}

	<h2><a name="status">Register an IP-Name Pair</a></h2>
	<p>Enter a valid IP address and DNS expression below.</p>
	
	<form class="feedbackform" action="" method="post">
	{% for field in form %}
		<div class="fieldwrapper">
			<label class="styled">{{field.label}}</label>
			<div class="thefield">{{field}}</div><br>
			<p>{% if field.errors %}
				{{field.errors}}
			{% endif %}
			</p>
		</div>
	{% endfor %}
	<div class="fieldwrapper">
		<label class="styled">Add Services</label>
		<div class="thefield">
			<script type="text/javascript">
				addEvent(window, "load", function(e) {SelectFilter.init("id_authors", "authors", 0, "/media/"); });
			</script>
			<a onclick="return showAddAnotherPopup(this);" id="add_id_authors" class="add-another" href="/dns/"> 
			<img width="10" height="10" alt="Add Another" src="/site_media/images/add.gif">
			</a>
		</div>
	</div>
	
     
	<div class = "buttonsdiv">
		<input type="submit" value="Register"><br/>	
	</div>
	</form>

		
{% endblock %}
