{% extends "qmul_doc_base.html" %}

{% block title %}MyNET DNS pairs{% endblock %}
{% block script %}
<script language="javascript">
	function checkAll(){
		for (var i=0;i<document.forms[0].elements.length;i++)
		{
			var e=document.forms[0].elements[i];
			if ((e.name != 'allbox') && (e.type=='checkbox'))
			{
				e.checked=document.forms[0].allbox.checked;
			}
		}
	}
	function actionCheck(){
		var a = document.forms[0].status;
		if( a.selectedIndex == 1) {
			return confirm('Are you sure you want to delete these registered IP-name pairs?');
		}
	}
</script>
{% endblock %}
{% block content %}
	

	<h2><a name="status">Registered DNS Pairs</a></h2>
	<p> This page shows all the registered DNS name-pairs on this network. </p>

	{% for field in form %}
		{% if field.errors %}
			{{field.errors}}
		{% endif %}
	{% endfor %}
	
	{% if not machinelists %}
		<ul class = "errorlist"><li> This table is empty </ul><li>	
	{% else %}
	<form method="post" class = viewbackform action="">	
		<div class="actions">
			
			<label>Action: 
				{{form.status}}
			</label>
			<button value="0" name="index" onclick="if( document.forms[0].status.selectedIndex == 1) 	return confirm('Are you sure you want to delete?');" title="Run the selected action" class="button" type="submit" >Go</button>
		</div>  
		<br>
		<table cellspacing="0">
		<thead>
			<tr>
			<th>
				<a>IP Address </a>
			</th>
			<th>
				<input type="checkbox" value="on" name="allbox" onclick="checkAll();"/> 
			</th>
			<th>
				<a href="?ot=asc&amp;o=1">   Type </a>
			</th>
			<th>
				<a href="?ot=asc&amp;o=2"> Machine Name </a>
			</th>
			<th> 
				<a href="?ot=asc&amp;o=3"> IP Version </a>
			</th>
			<th>
				<a href="?ot=asc&amp;o=4"> Time Created	</a>
			</th>
			</tr>
		</thead>
		<tbody>
		{% for machinelist in machinelists %}
			<tr class="{% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %}"> 
				<td>{% ifchanged machinelist.ip%} {{ machinelist.ip }} {% endifchanged %} </td>
				<!td><!{% ifequal machinelist.dns_type '1BD' %} {{ machinelist.ip_pair }} {% endifequal %} </td>
				<td><input type="checkbox" name="{{form.cbox_id.html_name}}" value="{{machinelist.id}}" class="action-select"></td>
				<td align = center> 	
					<a href="/dns/view_DNS_pair/{{machinelist.id}}"> 
					{% ifequal machinelist.dns_type '1BD' %} 
						<img border="0" width="25" height="19" src="/site_media/images/bd.png" alt="bidirectional">
					{% else %} 
						{% ifequal machinelist.dns_type '2NA' %} 
							<img border="0" width="25" height="19" src="/site_media/images/an.png" alt="address-name"> 
						{% else %} 
							<img border="0" width="25" height="19" src="/site_media/images/na.png" alt="name-address">
						{% endifequal %}
					{% endifequal %}</td>
					</a>				
				<td name="IP">{{ machinelist.machine_name }}</td>
				<td align = center >{% if machinelist.is_ipv6 %} 6 {% else %} 4 {% endif %}</td>
				<td class="nowrap">
					{{ machinelist.time_created|date:"D d M Y" }}, {{ machinelist.time_created|time:"H:i" }} 					
				</td>
			</tr>
		{% endfor %}
		</tbody>
		<tfoot>
			<tr> 
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
		</tfoot>
		</table>

	</form>
	
	<p> 
	<img border="0" width="25" height="19" src="/site_media/images/bd.png" alt="bidirectional"> Bi-directional IP mapping | 
	<img border="0" width="25" height="19" src="/site_media/images/an.png" alt="address-name"> Machine name to IP address mapping | 
	<img border="0" width="25" height="19" src="/site_media/images/na.png" alt="name-address"> IP address to machine name mapping
	</p>
	
	
	{% endif %}
		
{% endblock %}
