<html>
<head>
	<title>Add {{ field }}</title>
	<script type="text/javascript" src="/media/js/RelatedObjectLookups.js"></script>
	<link rel="stylesheet" type="text/css" href="/site_media/css/qmul_document.css" />
	</head>
<body>
	<!div id="maincontent">
	<!div class="innertube">	
		<h1>Add {{ field }}</h1>
		<form method="POST" action="" enctype="multipart/form-data">
			<table>
				{{ form }}
			</table>
			<p><input type="submit" /> | <a href="javascript:window.close()">Cancel</a></p>
		</form>
	<!/div>
	<!/div>	
	
</body>
</html>

