{% extends "qmul_doc_base.html" %}

{% block title %}MyNET DNS | IP-Name ID {{machine.id}}{% endblock %}

{% block content %}
	<script src="/site_media/js/RelatedObjectLookups.js" type="text/javascript"></script>
	
	<h2><a name="status">Registered IP-Name Pair, ID: {{machine.id}}</a></h2>
	<div class = "viewbackform">
		<div class="fieldwrapper">
			<label class="styled">IP Address</label>
			<div class="thefield">{{machine.ip}}</div> <br>
		</div>
		<div class="fieldwrapper">
			<label class="styled">Machine Name</label>
			<div class="thefield">{{machine.name}}</div> <br>
		</div>		
		<div class="fieldwrapper">
			<label class="styled">Type</label>
			<div class="thefield">
				{% ifequal machine.dns_type '1BD' %} Bi-Directional (<-->)
				{% else %} 
					{% ifequal machine.dns_type '2NA' %} Machine Name to IP Address 
					{% else %} IP Address to Machine Name 
					{% endifequal %}
				{% endifequal %}
			</div> <br>
		</div>
		<div class="fieldwrapper">
			<label class="styled">Description</label>
			{% if not machine.description %}
			<div class="thefield">None</div> <br>
			{% else %}		
			<div class="thefield"><textarea readonly="readonly">{{machine.description}}</textarea></div> <br>
			{% endif %}
			
		</div>
		<div class="fieldwrapper">
			<label class="styled">Time Created</label>
			<div class="thefield">{{machine.time_created}}</div> <br>
		</div>
		<div class="fieldwrapper">
			<label class="styled">Time Modified</label>
			<div class="thefield">{{machine.time_modified}}</div> <br>
		</div>
		<div class="fieldwrapper">
			<label class="styled">Services</label>	
			<div class="thefield"> 
				<!a onclick="return showAddAnotherPopup(this);" id="add_services" class="add-another" href="/dns/add/{{ machine.id }}/" style = "text-align:center;" > 
				<!img border="0" width="15" height="15" src="/site_media/images/add.gif" alt="Add a service">
				<!/a>
			</label>
			</div>			
		</div>
		{% if machinelists %}
		<br>
		<table cellspacing="0" width = "600">
			<thead>	
			<tr> 
				<td>
				<a onclick="return showAddAnotherPopup(this);" id="add_services" class="add-another" href="/dns/add/{{ machine.id }}/" style = "text-align:center;" > 
				<img border="0" width="15" height="15" src="/site_media/images/add.gif" alt="Add a service">
				ADD SERVICE
				</a>
				</td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<th>
					<a> IP Address </a>
				</th>
				<th>
					<a>   Type </a>
				</th>
				<th>
					<a> Machine Name </a>
				</th>
				<th> 
					<a> IP version </a>
				</th>
			</tr>
			</thead>
			<tbody>
			{% for machinelist in machinelists %}
				<tr class="{% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %}"> 
					<td> {{ machinelist.ip}} </td>
					<td align = center> 	
						<a href="/dns/view_DNS_pair/{{machinelist.id}}">
						{% ifequal machinelist.dns_type '1BD' %} 
							<img border="0" width="25" height="19" src="/site_media/images/bd.png" alt="bidirectional">
						{% else %} 
							{% ifequal machinelist.dns_type '2NA' %} 
								<img border="0" width="25" height="19" src="/site_media/images/an.png" alt="address-name"> 
							{% else %} 
								<img border="0" width="25" height="19" src="/site_media/images/na.png" alt="name-address">
							{% endifequal %}
						{% endifequal %}</td>
						</a>				
					<td> {{ machinelist.machine_name }}</td>
					<td align = center >{% if machinelist.is_ipv6 %} 6 {% else %} 4 {% endif %}</td>
				</tr>
			{% endfor %}
			</tbody>
			<tfoot>
				<tr> 
					<td>
					<a onclick="return showAddAnotherPopup(this);" id="add_services" class="add-another" href="/dns/add/{{ machine.id }}/" style = "text-align:center;" > 
					<img border="0" width="15" height="15" src="/site_media/images/add.gif" alt="Add a service">
					ADD SERVICE
					</a>					
					</td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
			</tfoot>
		</table>
		<p> 
		<img border="0" width="25" height="19" src="/site_media/images/bd.png" alt="bidirectional"> Bi-directional IP mapping | 
		<img border="0" width="25" height="19" src="/site_media/images/an.png" alt="address-name"> Machine name to IP address mapping | 
		<img border="0" width="25" height="19" src="/site_media/images/na.png" alt="name-address"> IP address to machine name mapping
		</p>
		{% else %} 
		<div class = "fieldwrapper">
		<div class = "thefield">None currently registered. 
			<a onclick="return showAddAnotherPopup(this);" id="add_services" class="add-another" href="/dns/add/{{ machine.id }}/" style = "text-align:center;" > ADD SERVICE </a>
		</div> 
		</div>
		{% endif %}
		<!div class="fieldwrapper">		
			<!div class="thefield" > 
				<!select class="addservice" id="services" name="service_add" multiple="multiple"><!/select>		
			<!/div>		
		</div>
	</div>
	
	
	<p class = "EditDeleteBack"> 
		<a href="/dns/edit_DNS_pair/{{machine.id}}"> Edit<a> |
		<a  href="/dns/delete_DNS_pair/{{machine.id}}" onclick="return confirm('Are you sure you want to delete?');"> Delete<a> |		
		<a href="/dns/registered_DNS_pairs"> Back<a> 
	</p>
	      
		
{% endblock %}
