{% extends "qmul_doc_base.html" %}

{% block title %}Import {{type}}{% endblock %}

{% block content %}
	<script src="/site_media/js/RelatedObjectLookups.js" type="text/javascript"></script>
	{% if not PermissionError %}
	<h2><a name="status">Import {{type}} Records</a></h2>
	<p>To upload a set of {{type}} records, please specify the file path below. For more information about how the file should be formatted, click <a href ='/information/?info=import&amp;type={{type|lower}}'>here</a>.</p>
	<form class="feedbackform" action="" method="post" enctype="multipart/form-data">
	{% for field in form %}
		<div class="fieldwrapper">
			<label class="styled">{{field.label}}</label>
			<div class="thefield">{{field}}</div><br>
			<p>
			{% if field.errors %}
				{{field.errors}}
			{% endif %}
			</p>
		</div>
		<div class="fieldwrapper">
			<label class="styled">Subnet</label>
			<div class="thefield">
				<select id = "id_status"  name = "subnets">
					<option selected="selected" value = "none"></option>
					<option value = "all">All</option>
					{% for subnet in subnets%}
					<option value = "{{ subnet }}" >{{subnet}}</option>
					{% endfor %}
				</select>
			</div>
		</div>
	{% endfor %}
	<div class="fieldwrapper">
	<div class="thefield">
	{% ifequal type 'DNS'%}
	<textarea readonly="readonly" >
Each Record in the text file must be in the following format:
-------------------------------------------------------------
&lt;DNS type&gt; &lt;IP Address&gt; &lt;Machine Name&gt; &lt;TTL&gt; #&lt;Description&gt;
	</textarea>
	{% else %}
	<textarea readonly="readonly" >
Each Record in the text file must be in the following format:
For hosts-
host &lt;IPAddress&gt; &lt;MACAddress&gt; &lt;Host Name&gt; #&lt;Description&gt;
For ranges/pools-
pool &lt;IPAddress First&gt; &lt;IPAddress Last&gt; #&lt;Description&gt;
	</textarea>
	{% endifequal %}
	</div>
	</div>
	<br>
	<input type="submit" value="Upload">  | <a href="/importexport">Cancel</a><br/>	
	</form>
	{% else %}
	<ul class="errorlist"><li> Error: You do not have permission to bulk import/export.</li></ul>
	{% endif %}
{% endblock %}
