{% extends "qmul_doc_base.html" %}

{% block title %} Log Trace{% endblock %}

{% block content %}
	<script src="/site_media/js/RelatedObjectLookups.js" type="text/javascript"></script>
	{% if PermissionError%}
	<h2><a name="status"> Multiple History Log</a></h2>
	<ul class = "highlight"><li> You do not have permission to view these logs. </ul><li>
	{% else %} 
	<h2><a name="status"> Multiple History Log</a></h2>
	<div class = "viewbackform">
		<table>
		<thead>
		<tr>
			<th></th>
			<th> Date	</th>
			<th> Action	</th>
			<th> User	</th>
			<th> Values	</th>
		</tr>
		</thead>
		<tbody>			
		{% for Record in HistoryLogs %}
			<tr class="{% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %}">  
				<td><input type="checkbox" name="" value="" class="action-select"></td>
				<td> {{Record.TimeOccured}} </td>
				<td> {{Record.get_ActionType_display}} </td>
				<td> {{Record.NetUser}} </td>
				<td> 
				{% for RecordChanges in ChangeLog  %}
					{% ifequal forloop.parentloop.counter forloop.counter %}
					{% for row in RecordChanges %}	
						{{row}} <br>
					{% endfor %}	
					{% endifequal %}							
				{% endfor %}
				</td>				
			</tr>
		{% endfor %} 			
		</tbody>
		</table>
	</div>
	
	<p class = "EditDeleteBack"> 
		<a href="/history"> Back<a> 
	</p>
	{% endif %}
	      
		
{% endblock %}
