{% extends "qmul_doc_base.html" %}

{% block title %}MyNET DHCP Registration{% endblock %}

{% block content %}

	<h2><a name="status">Machine Registration</a></h2>
	<p>Enter a MAC address and IP address pair below.</p>
	{% for c_error in c_errors %}
		{% if c_error.error%}
			<ul class = "errorlist"><li>{{c_error.message}}</ul><li>
		{% endif %}
	{% endfor %}
	{% if u_error%}
		<ul class = "errorlist"><li>{{u_error}}</ul><li>
	{% endif %}
	
	<form class="feedbackform" action="" method="post">
	{% for field in form %}
		<div class="fieldwrapper">
			<label class="styled">{{field.label}}</label>
			<div class="thefield">{{field}}</div><br>
			<p>{% if field.errors %}
				{{field.errors}}
			{% endif %}
			</p>
		</div>
	{% endfor %}
	<input type="submit" value="Submit"><br/>	

	</form>

		
{% endblock %}
