{% extends "qmul_doc_base.html" %}

{% block title %}MyNET DHCP Registration{% endblock %}

{% block content %}

	<h2><a name="status">Edit Registered Machine, ID: {{m_id}}</a></h2>
	<p>Please edit the information below.</p>
    	{% if c_errors%}
		<ul class = "errorlist"><li>{{c_errors}}</ul></li>
	{% endif %}
	<form class="feedbackform" action="" method="post">
	{% for field in form %}
		<div class="fieldwrapper">
			<label class="styled">{{field.label}}</label>
			<div class="thefield">{{field}}</div> <br>
			<p>{% if field.errors %}
				{{field.errors}}
			{% endif %}</p>
		</div>

	{% endfor %}
	<input type="submit" value="Submit"> | <a href="/dhcp/viewmachine/{{m_id}}">Cancel</a><br/>	

	</form>

		
{% endblock %}
