{% extends "qmul_doc_base.html" %}

{% block title %}MyNET DHCP Registration{% endblock %}

{% block content %}

	<h2><a name="status">Delete Registered Machine</a></h2>
	<p> The following machine{{machines|pluralize}}{% ifequal mlength 1 %} has {% else %} have {% endifequal %} been deleted:<p> </br>

	{% if not machines %}
		<ul class="errorlist"><li> An Error has occured, could not delete record.</li></ul>
	{% else %}
		{% for machine in machines %}
			<ul class = "highlight"><li>Machine ID: {{machine.id}}, MAC/IP: {{machine.MAC_pair}} - {{machine.IP_pair}} </li></ul>
		{% endfor %}	
	{% endif %}
	<br></br>
	<br></br>
	<br></br>
	<br></br>
	<p class = "EditDeleteBack"> 
		<a href="/dhcp/registeredmachines"> Back<a> 
	</p>
{% endblock %}

