{% extends "qmul_doc_base.html" %}

{% block title %}MyNET DHCP | Machine ID {{machine.id}}{% endblock %}

{% block content %}

	<h2><a name="status">Registered Machine, ID: {{machine.id}}</a></h2>
	
	<form  class = "viewbackform">
	<div class="fieldwrapper">
		<label class="styled">MAC Address</label>
		<div class="thefield">{{machine.MAC_pair}}</div> <br>
	</div>
	<div class="fieldwrapper">
		<label class="styled">IP Address</label>
		<div class="thefield">{{machine.IP_pair}}</div> <br>
	</div>
	<div class="fieldwrapper">
		<label class="styled">PC Name</label>
		<div class="thefield">{{machine.PC_pair}}</div> <br>
	</div>
	<div class="fieldwrapper">
		<label class="styled">Description</label>
		{% if not machine.description %}
		<div class="thefield">None</div> <br>
		{% else %}		
		<div class="thefield"><textarea readonly="readonly">{{machine.description}}</textarea></div> <br>
		{% endif %}	
	</div>
	<div class="fieldwrapper">
		<label class="styled">Time Created</label>
		<div class="thefield">{{machine.time_created}}</div> <br>
	</div>
	</form>
	<p class = "EditDeleteBack"> 
		<a href="/dhcp/editmachine/{{machine.id}}"> Edit<a> |
		<a  href="/dhcp/deletemachine/{{machine.id}}" onclick="return confirm('Are you sure you want to delete this machine registration?');"> Delete<a> |		
		<a href="/dhcp/registeredmachines"> Back<a> 
	</p>
	      
		
{% endblock %}

<! onclick="ConfirmDelete()">
