{% extends "qmul_doc_base.html" %}

{% block title %}MyNET DHCP Registration{% endblock %}

{% block content %}

	<h2><a name="status">Register an IP Range</a></h2>
	<p>Please enter a valid IP Range below</p>
	
	<form class="feedbackform" action="" method="post">
	{% for field in form %}
		<div class="fieldwrapper">
			<label class="styled">{{field.label}}</label>
			<div class="thefield">{{field}}</div> <br>
			<p>{% if field.errors %}
				{{field.errors}}
			{% endif %}</p>
		</div>
	{% endfor %}
	<input type="submit" value="Submit"><br/>	

	</form>

		
{% endblock %}
