{% extends "qmul_doc_base.html" %}

{% block title %}MyNET DHCP Registration{% endblock %}

{% block content %}

	<h2><a name="status">Machine Registration</a></h2>
	<p>Enter a MAC address and IP address pair below.</p>
	
	{% if form.errors %}
		<p class="error"> Please correct the following error{{ form.errors|pluralize }}:</p>
		<ul>
	        {% for error in form.errors %}
			<li>{{ error }}</li>
	        {% endfor %}
	        </ul>
	{% endif %}
    	
	<form class="feedbackform" action="" method="post">
	{% for field in form %}
		<div class="fieldwrapper">
			<label class="styled">{{field.label}}</label>
			<div class="thefield">{{field}}</div> <br>
		</div>
	{% endfor %}
	<input type="submit" value="Submit"><br/>	

	</form>

		
{% endblock %}
