{% extends "qmul_doc_base.html" %}

{% block title %}MyNET DHCP Registration{% endblock %}

{% block content %}

	<h2><a name="status">Edit Registered IP Range, ID: {{ip_id}}</a></h2>
	<p>Please edit the information below.</p>
    	
	<form class="feedbackform" action="" method="post">
	<div class="fieldwrapper">
		<label class="styled">{{form.IP_range1.label}}</label>
		<div class="thefield">
			{{form.IP_range1}} -
			{{form.IP_range2}}
			
		</div> <br>
		<p>
		{% if form.IP_range1.errors %}
			{% if form.IP_range2.errors %}
				{{form.IP_range2.errors}}
			{% else %}
				{{form.IP_range1.errors}}
			{% endif %}
		{% endif %}
		{% if form.IP_range2.errors %}
			{% if form.IP_range1.errors %}
				{{form.IP_range1.errors}}
			{% else %}
				{{form.IP_range2.errors}}
			{% endif %}
		{% endif %}
		{% for c_error in c_errors %}
			{% if c_error.error%}
				<ul class = "errorlist"><li>{{c_error.message}}</ul><li>
			{% endif %}
		{% endfor %}
		{% if u_error%}
			<ul class = "errorlist"><li>{{u_error}}</ul><li>
		{% endif %}
		</p>
	</div>
	<div class="fieldwrapper">
		<label class="styled">{{form.dscr.label}}</label>
		<div class="thefield">{{form.dscr}}</div> <br>
		<p>
		{% if field.errors %}
			{{field.errors}}
		{% endif %}
		</p>
	</div>
	<input type="submit" value="Submit"> | <a href="/dhcp/view_IP_range/{{ip_id}}">Cancel</a><br/>	

	</form>

		
{% endblock %}
