{% extends "qmul_doc_base.html" %}

{% block title %}MyNET DHCP | IP Range ID {{machine.id}}{% endblock %}

{% block content %}

	<h2><a name="status">Registered IP Range, ID: {{machine.id}}</a></h2>
	
	
	<form  class = "viewbackform">
	<div class="fieldwrapper">
		<label class="styled">IP Range</label>
		{% if machine.is_ipv6 %}
			<div class="thefield">
				<textarea class ="ipv6" readonly="readonly">{{machine.ip1}} - {{machine.ip2}}</textarea>
			</div> <br>
		{% else %} 
			<div class="thefield"> 
				{{machine.ip1}} - {{machine.ip2}}
			</div> <br>
		{% endif %}
				
	</div>
	<div class="fieldwrapper">
		<label class="styled">IP version</label>
		<div class="thefield">{% if machine.is_ipv6 %} 6 {% else %}  4 {% endif %}</div> <br>
	</div>
	<div class="fieldwrapper"> 
		<label class="styled">Description</label>
		<div class="thefield"><textarea readonly="readonly">{% if not machine.description %} none {% else %}{{machine.description}}{% endif %}</textarea></div> <br>
	</div>
	<div class="fieldwrapper">
		<label class="styled">Time Created</label>
		<div class="thefield">{{machine.time_created}}</div> <br>
	</div>
	<div class="fieldwrapper">
		<label class="styled">Time Modified</label>
		<div class="thefield">{{machine.time_modified}}</div> <br>
	</div>
	</form>
	<p class = "EditDeleteBack"> 
		<a href="/dhcp/pool/{{machine.id}}/edit"> Edit<a> |
		<a href="/dhcp/pool/{{machine.id}}/delete" onclick="return confirm('Are you sure you want to delete this machine registration?');"> Delete<a> |		
		<a href="/dhcp/pool/list/"> Back<a> 
	</p>
	      
		
{% endblock %}
