{% extends "qmul_doc_base.html" %}

{% block title %}MyNET DHCP Registered Machines{% endblock %}
{% block script %}
<script language="javascript">
	function checkAll(){
		for (var i=0;i<document.forms[0].elements.length;i++)
		{
			var e=document.forms[0].elements[i];
			if ((e.name != 'allbox') && (e.type=='checkbox'))
			{
				e.checked=document.forms[0].allbox.checked;
			}
		}
	}
	function actionCheck(){
		var a = document.forms[0].status;
		if( a.selectedIndex == 1) {
			return confirm('Are you sure you want to delete these registered machines?');
		}
	}
</script>
{% endblock %}
{% block content %}
	

	<h2><a name="status">Registered Machines</a></h2>
	<p> This page shows all the registered machines on this network. </p>
	
	{% for field in form %}
		{% if field.errors %}
			{{field.errors}}
		{% endif %}
	{% endfor %}
	
	{% if not machinelists %}
		<ul class = "errorlist"><li> This table is empty </ul><li>	
	{% else %}
	
	<form method="post" class = viewbackform action="">	
		<div class="actions">
			Results {{ machinelists.start_index }} to {{ machinelists.end_index }} of {{ machinelists.paginator.count }}. 
			Page {{ machinelists.number }} of {{ machinelists.paginator.num_pages }}.
			<br><br>	
				Show	
				<a href="?ot={{sort.type}}&amp;o={{sort.order}}&amp;len=25">50</a>,
				<a href="?ot={{sort.type}}&amp;o={{sort.order}}&amp;len=50">100</a>,
				<a href="?ot={{sort.type}}&amp;o={{sort.order}}&amp;len=100">200</a>,
				<a href="?ot={{sort.type}}&amp;o={{sort.order}}&amp;len=200">400</a>, or 
				<a href="?ot={{sort.type}}&amp;o={{sort.order}}&amp;len=0"> all</a> records per page
			<br><br>
			<label>Action: 
				{{form.status}}
			</label>
			<button value="0" name="index" onclick="if( document.forms[0].status.selectedIndex == 1) 	return confirm('Are you sure you want to delete these registered machines?');" title="Run the selected action" class="button" type="submit" >Go</button>
			<br><br>
			{% if machinelists.has_previous %}
				<a href="/dhcp/machine/list/{{ machinelists.previous_page_number }}" %}">&lt;&lt;Previous</a>
			{% endif %}
			{% if machinelists.has_next %}
				<a href="/dhcp/machine/list/{{ machinelists.next_page_number }}">Next >></a>			
			{% endif %}
		</div>  
		<br>
		<table cellspacing="0">
		<thead>
			<tr>
			<th>
			<input type="checkbox" value="on" name="allbox" onclick="checkAll();"/> 
			</th>
			<th>
				<a>No.</a>
			</th>
			<th {% ifequal sort.order "mac" %}
					{% ifequal sort.type "asc" %}
						class="sorted ascending"
					{% else %}	
						class="sorted descending"
					{% endifequal %}
				{% endifequal %} >
				<a href="?ot={{sort.type}}&amp;o=mac&amp;len={{list_size}}">MAC Address</a>
			</th>
			<th {% ifequal sort.order "ip" %}
					{% ifequal sort.type "asc" %}
						class="sorted ascending"
					{% else %}	
						class="sorted descending"
					{% endifequal %}
				{% endifequal %} >
				<a href="?ot={{sort.type}}&amp;o=ip&amp;len={{list_size}}"> IP Address </a>
			</th>
			<th {% ifequal sort.order "host" %}
					{% ifequal sort.type "asc" %}
						class="sorted ascending"
					{% else %}	
						class="sorted descending"
					{% endifequal %}
				{% endifequal %} > 
				<a href="?ot={{sort.type}}&amp;o=host&amp;len={{list_size}}"> Host Name </a>
			</th>
			<th {% ifequal sort.order "time" %}
					{% ifequal sort.type "asc" %}
						class="sorted ascending"
					{% else %}	
						class="sorted descending"
					{% endifequal %}
				{% endifequal %} >
				<a href="?ot={{sort.type}}&amp;o=time&amp;len={{list_size}}"> Time Created	</a>
			</th>
			</tr>
		</thead>
		<tbody>
		{% for machinelist in machinelists.object_list %}
			<tr class="{% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %}"> 
				<td><input type="checkbox" name="{{form.cbox_id.html_name}}" value="{{machinelist.id}}" class="action-select"></td>
				<td>{{ machinelist.record_no }} {#{ forloop.counter }#}</td>
				<td><a href="/dhcp/machine/{{machinelist.id}}/view"> {{ machinelist.mac_address|upper }} </a></td>
				<td name="IP">{{ machinelist.ip }}</td>
				<td>{{ machinelist.host_name }}</td>
				<td class="nowrap">
				{{ machinelist.time_created|date:"D d M Y" }}, {{ machinelist.time_created|time:"H:i" }} 
				</td>
			</tr>
		{% endfor %}
		</tbody>
		</table>
		<div>
		{% if machinelists.has_previous %}
			<a href="/dhcp/machine/list/{{ machinelists.previous_page_number }}" %}">Previous</a>
		{% endif %}
		{% if machinelists.has_next %}
			<a href="/dhcp/machine/list/{{ machinelists.next_page_number }}">next</a>			
			<!a href="{#% url paged_pagination_test original machinelists.next_page_number %#}"Next</a>
		{% endif %}
		
		<div class="pagination">
				<span class="current">
				    Page {{ machinelists.number }} of {{ machinelists.paginator.num_pages }}
				</span>
		</div>


		</div>
	</form>
	{% endif %}
		
{% endblock %}
