{% extends "qmul_doc_base.html" %}
{% block head %}
<!link rel="stylesheet" type="text/css" href="/site_media/css/changelist.css" />
{% endblock %}
{% block title %}MyNET DHCP Registered Machines{% endblock %}
{% block script %}
<script language="javascript">
	function checkAll(){
		for (var i=0;i<document.forms[0].elements.length;i++)
		{
			var e=document.forms[0].elements[i];
			if ((e.name != 'allbox') && (e.type=='checkbox'))
			{
				e.checked=document.forms[0].allbox.checked;
			}
		}
	}
	function actionCheck(){
		var a = document.forms[0].status;
		if( a.selectedIndex == 1) {
			return confirm('Are you sure you want to delete these registered machines?');
		}
	}
</script>

{% endblock %}
{% block content %}
	

	<h2><a name="status">Registered Machines</a></h2>
	<p> This page shows all the registered machines on this network. </p>
	
	{% for field in form %}
		{% if field.errors %}
			{{field.errors}}
		{% endif %}
	{% endfor %}
	
	{% if not machinelists.object_list %}
		<ul class = "errorlist"><li> This table is empty </ul><li>	
	{% else %}
	
	<form method="post" class = viewbackform action="">	
		<div id = 'changelist' class = 'module'>
			Results {{ machinelists.start_index }} to {{ machinelists.end_index }} of {{ machinelists.paginator.count }}. 
			Page {{ machinelists.number }} of {{ machinelists.paginator.num_pages }}.
			<br><br>	
			{% if machinelists.has_previous %}
				<a href="?pi={{ machinelists.previous_page_number }}" %}">&lt;&lt;Previous</a> | 
			{% endif %}
			{% if machinelists.has_next %}
				<a href="?pi={{ machinelists.next_page_number }}">Next &gt;&gt;</a>			
			{% endif %}
			<div class="actions">			
				<label>
				Action: 
				{{form.status}}
				<button value="0" name="index" onclick="if( document.forms[0].status.selectedIndex == 1) 	return confirm('Are you sure you want to delete these registered machines?');" title="Run the selected action" class="button" type="submit" >Go</button>
				Show:	
				<a href="?pi={{ machinelists.number }}&amp;?ot={{sort.type}}&amp;o={{sort.order}}&amp;len=50">50</a>,
				<a href="?pi={{ machinelists.number }}&amp;?ot={{sort.type}}&amp;o={{sort.order}}&amp;len=100">100</a>,
				<a href="?pi={{ machinelists.number }}&amp;?ot={{sort.type}}&amp;o={{sort.order}}&amp;len=200">200</a>,
				<a href="?pi={{ machinelists.number }}&amp;?ot={{sort.type}}&amp;o={{sort.order}}&amp;len=400">400</a>, or 
				<a href="?pi={{ machinelists.number }}&amp;?ot={{sort.type}}&amp;o={{sort.order}}&amp;len=0"> all</a> records per page
				</label>
			</div>  
		</div>
		<table cellspacing="0">
		<thead>
			<tr>
			<th>
			<input type="checkbox" value="on" name="allbox" onclick="checkAll();"/> 
			</th>
			<th>
				<a>No.</a>
			</th>
			<th {% ifequal sort.order "mac" %}
					{% ifequal sort.type "asc" %}
						class="sorted ascending"
					{% else %}	
						class="sorted descending"
					{% endifequal %}
				{% endifequal %} >
				<a href="?ot={{sort.type}}&amp;o=mac&amp;len={{list_size}}">MAC Address</a>
			</th>
			<th {% ifequal sort.order "ip" %}
					{% ifequal sort.type "asc" %}
						class="sorted ascending"
					{% else %}	
						class="sorted descending"
					{% endifequal %}
				{% endifequal %} >
				<a href="?ot={{sort.type}}&amp;o=ip&amp;len={{list_size}}"> IP Address </a>
			</th>
			<th {% ifequal sort.order "host" %}
					{% ifequal sort.type "asc" %}
						class="sorted ascending"
					{% else %}	
						class="sorted descending"
					{% endifequal %}
				{% endifequal %} > 
				<a href="?ot={{sort.type}}&amp;o=host&amp;len={{list_size}}"> Host Name </a>
			</th>
			<th {% ifequal sort.order "time" %}
					{% ifequal sort.type "asc" %}
						class="sorted ascending"
					{% else %}	
						class="sorted descending"
					{% endifequal %}
				{% endifequal %} >
				<a href="?ot={{sort.type}}&amp;o=time&amp;len={{list_size}}"> Time Created	</a>
			</th>
			</tr>
		</thead>
		<tbody>
		{% for machinelist in machinelists.object_list %}
			<tr class="{% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %}"> 
				<td><input type="checkbox" name="{{form.cbox_id.html_name}}" value="{{machinelist.id}}" class="action-select"></td>
				<td>{{ machinelist.record_no }} {#{ forloop.counter }#}</td>
				<td><a href="/dhcp/machine/{{machinelist.id}}/view"> {{ machinelist.mac_address|upper }} </a></td>
				<td name="IP">{{ machinelist.ip }}</td>
				<td>{{ machinelist.host_name }}</td>
				<td class="nowrap">
				{{ machinelist.time_created|date:"D d M Y" }}, {{ machinelist.time_created|time:"H:i" }} 
				</td>
			</tr>
		{% endfor %}
		</tbody>
		</table>
		<div>
		{% if machinelists.has_previous %}
			<a href="?pi={{ machinelists.previous_page_number }}" %}">&lt;&lt; Previous</a> | 
		{% endif %}
		{% if machinelists.has_next %}
			<a href="?pi={{ machinelists.next_page_number }}">Next &gt;&gt;</a>			
		{% endif %}
		
		<div class="pagination">
				<span class="current">
				    Page {{ machinelists.number }} of {{ machinelists.paginator.num_pages }}
				</span>
		</div>
		
		<div class="pager">
		{% if machinelists.has_previous %}
		  <span class="page">
		  <a href="?pi={{ machinelists.previous_page_number }}">&lt; Prev</a>
		  </span>
		{% endif %}

		{% if show_first %}
		  <span class="page"><a href="?pi=1">1</a></span>
		  <span class="ellipsis">...</span>
		{% endif %}
		{% for linkpage in machinelists.page_numbers %}
		  {% ifequal linkpage machinelists.page %}
			 <span class="current">{{ machinelists.page }}</span>
		  {% else %}
			 <span class="page"><a href="?pi={{ linkpage }}"
				   >{{ linkpage }}</a></span>
		  {% endifequal %}
		{% endfor %}
		{% if machinelists.show_last %}
		  <span class="ellipsis">...</span>
		  <span class="pi"><a href="?pi=last">{{ machinelists.pages }}</a></span>
		{% endif %}
		{% if machinelists.has_next %}
		  <span class="pi"><a href="?pi={{ machinelists.next_page_number }}">Next &gt;</a></span>
		{% endif %}
		</div>


		</div>
	</form>
	{% endif %}
		
{% endblock %}
