{% extends "qmul_doc_base.html" %}

{% block title %}DHCP Deleted Machine Records{% endblock %}

{% block content %}

	<h2><a name="status">Delete Registered Machine</a></h2>
	<p> The following machine{{machines|pluralize}}{% ifequal mlength 1 %} has {% else %} have {% endifequal %} been deleted:<p> </br>

	{% if not machines %}
		<ul class="errorlist"><li> An Error has occured, could not delete record.</li></ul>
	{% else %}
		{% for machine in machines %}
			<ul class = "highlight"><li>Machine ID: {{machine.id}}, MAC/IP: {{machine.mac_address}} - {{machine.ip_address}} </li></ul>
		{% endfor %}	
	{% endif %}
	<br></br>
	<br></br>
	<br></br>
	<br></br>
	<p class = "EditDeleteBack"> 
		<a href="/dhcp/machine/list/"> Back<a> 
	</p>
{% endblock %}

