{% extends "qmul_doc_base.html" %}

{% block title %}MyNET DHCP Registered Machines{% endblock %}
{% block script %}
<script language="javascript">
	function checkAll(){
		for (var i=0;i<document.forms[0].elements.length;i++)
		{
			var e=document.forms[0].elements[i];
			if ((e.name != 'allbox') && (e.type=='checkbox'))
			{
				e.checked=document.forms[0].allbox.checked;
			}
		}
	}
	function actionCheck(){
		var a = document.forms[0].status;
		if( a.selectedIndex == 1) {
			return confirm('Are you sure you want to delete these registered IP pools?');
		}
	}
</script>
{% endblock %}
{% block content %}
	

	<h2><a name="status">Registered IP Pools</a></h2>
	<p> This page shows all the registered IP Pools on this network. </p>
	{% for field in form %}
		{% if field.errors %}
			{{field.errors}}
		{% endif %}
	{% endfor %}
	{% if not machinelists.object_list %}
		<ul class = "errorlist"><li> This table is empty </ul><li>	
	{% else %}	
	<form method="post" class = viewbackform action="">	
		<div id = 'changelist' class = 'module'>
			<div class="actions">			
				<label>
				Action: 
				{{form.status}}
				<button value="0" name="index" onclick="if( document.forms[0].status.selectedIndex == 1) 	return confirm('Are you sure you want to delete these ip pairs?');" title="Run the selected action" class="button" type="submit" >Go</button>
				Show:	
				<a href="?pi={{ machinelists.number }}&amp;?ot={{sort.type_bef}}&amp;o={{sort.order}}&amp;len=50">50</a>,
				<a href="?pi={{ machinelists.number }}&amp;?ot={{sort.type_bef}}&amp;o={{sort.order}}&amp;len=100">100</a>,
				<a href="?pi={{ machinelists.number }}&amp;?ot={{sort.type_bef}}&amp;o={{sort.order}}&amp;len=200">200</a>,
				<a href="?pi={{ machinelists.number }}&amp;?ot={{sort.type_bef}}&amp;o={{sort.order}}&amp;len=400">400</a>, or 
				<a href="?pi={{ machinelists.number }}&amp;?ot={{sort.type_bef}}&amp;o={{sort.order}}&amp;len=0"> all</a> records per page
				<p class="paginator">
					{% load paginator %}
					{% paginator 4 %}
				</p>
				</label>
			</div>  
		</div>
		<table cellspacing="0">
		<thead>
			<tr>
			<th>
			<input type="checkbox" value="on" name="allbox" onclick="checkAll();"/> 
			</th>
			<th align = center>
				<a>ID</a>
			</th>
			{% if sort.toggle %}
				<th {% ifequal sort.order "ip" %}
						{% ifequal sort.type "asc" %}
							class="sorted ascending"
						{% else %}	
							class="sorted descending"
						{% endifequal %}
					{% endifequal %} 
				>
				<a href="?ot={{sort.type}}&amp;o=ip&amp;len={{list_size}}&amp;tog=yes"> IP Pools </a>
			{%else%}
				<th {% ifequal sort.order "ip" %}
						{% ifequal sort.type_bef "asc" %}
							class="sorted ascending"
						{% else %}	
							class="sorted descending"
						{% endifequal %}
					{% endifequal %} 
				>
				<a href="?ot={{sort.type_bef}}&amp;o=ip&amp;len={{list_size}}&amp;tog=yes"> IP Pools </a>
			{%endif%}
			</th>
			<th>				
			</th>
			<th>				
			</th>
			{% if sort.toggle %}
				<th {% ifequal sort.order "ver" %}
						{% ifequal sort.type "asc" %}
							class="sorted ascending"
						{% else %}	
							class="sorted descending"
						{% endifequal %}
					{% endifequal %} 
				>
				<a href="?ot={{sort.type}}&amp;o=vers&amp;len={{list_size}}&amp;tog=yes"> IP Version </a>
			{%else%}
				<th {% ifequal sort.order "ver" %}
						{% ifequal sort.type_bef "asc" %}
							class="sorted ascending"
						{% else %}	
							class="sorted descending"
						{% endifequal %}
					{% endifequal %} 
				>
				<a href="?ot={{sort.type_bef}}&amp;o=ver&amp;len={{list_size}}&amp;tog=yes"> IP Version </a>
			{%endif%}
			</th>
			{% if sort.toggle %}
				<th {% ifequal sort.order "time" %}
						{% ifequal sort.type "asc" %}
							class="sorted ascending"
						{% else %}	
							class="sorted descending"
						{% endifequal %}
					{% endifequal %} 
				>
				<a href="?ot={{sort.type}}&amp;o=time&amp;len={{list_size}}&amp;tog=yes"> Time Created </a>
			{%else%}
				<th {% ifequal sort.order "time" %}
						{% ifequal sort.type_bef "asc" %}
							class="sorted ascending"
						{% else %}	
							class="sorted descending"
						{% endifequal %}
					{% endifequal %} 
				>
				<a href="?ot={{sort.type_bef}}&amp;o=time&amp;len={{list_size}}&amp;tog=yes"> Time Created </a>
			{%endif%}
			</th>
			</tr>
		</thead>
		<tbody>
		{% for machinelist in machinelists.object_list %}
			<tr class="{% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %}"> 
				<td><input type="checkbox" name="{{form.cbox_id.html_name}}" value="{{machinelist.id}}" class="action-select"></td>
				<td align = center>{{ machinelist.id}}{#{ forloop.counter }#}</td>
				<td style= "BORDER-RIGHT: 0px;"><a href="/dhcp/pool/{{machinelist.id}}/view"> {{ machinelist.ip_first|lower }} </a></td>
				<td style= "BORDER-RIGHT: 0px;"><a href="/dhcp/pool/{{machinelist.id}}/view"> - </td>
				<td><a href="/dhcp/pool/{{machinelist.id}}/view"> {{ machinelist.ip_last|lower }} </td>
				<td align = center >{% if machinelist.is_ipv6 %} 6 {% else %} 4 {% endif %}</td>
				<td class="nowrap">
				{{ machinelist.time_created|date:"D d M Y" }}, {{ machinelist.time_created|time:"H:i" }} 
				</td>
			</tr>
		{% endfor %}
		</tbody>
		</table>
		<table>
		<tfoot>
			<tr><td>
			<p class="paginator">
			{% load paginator %}
			{% paginator 4 %}
			</p>
			</td></tr>
		</tfoot>
		</table>
	</form>
	{% endif %}
		
{% endblock %}
