{% extends "qmul_doc_base.html" %}

{% block title %}DHCP Deleted Pool Records{% endblock %}

{% block content %}

	<h2><a name="status">Delete Registered IP Range</a></h2>
	<p> The following IP Range{{machines|pluralize}}{% ifequal mlength 1 %} has {% else %} have {% endifequal %} been deleted:<p> </br>

	{% if not machines %}
		<ul class="errorlist"><li> An Error has occured, could not delete record.</li></ul>
	{% else %}
		{% for machine in machines %}
			<ul class = "highlight"><li>ID: {{ machine.id }}, Range: {{ machine.ip_first }} - {{ machine.ip_last}} </li></ul>
		{% endfor %}	
	{% endif %}
	<br></br>
	<br></br>
	<br></br>
	<br></br>
	<p class = "EditDeleteBack"> 
		<a href="/dhcp/pool/list/default"> Back<a> 
	</p>
{% endblock %}
	

